@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe");
.btn {
  padding: 40px;
  font-family: 'ZCOOL KuaiLe', cursive;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #7bed9f;
}

.btn-new-game {
  border: 5px solid #2ed573;
  background-color: #2ed573;
  width: 150px;
  height: 150px;
}

input {
  padding: 5px 15px;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 1.2em;
  margin-bottom: 20px;
  outline: none;
}

input:focus {
  border: 2px solid #eccc68;
}

/* Components*/
.jumbotron {
  width: 100%;
  height: 100vh;
  background-image: url("/images/jumbotron.jpeg");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.jumbotron .jumbotron-header {
  font-family: 'ZCOOL KuaiLe', cursive;
  width: 60%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 5%;
}

.jumbotron .jumbotron-header .title {
  color: #fff;
  font-size: 5em;
  text-shadow: 3px 3px 7px #000;
  margin-bottom: 15px;
}

.jumbotron .jumbotron-header .text {
  color: #fff;
  font-size: 2em;
  text-shadow: 3px 3px 7px #000;
  margin-top: 0px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.overlay.show {
  display: block;
}

.overlay .modal {
  display: none;
  background: #fff;
  width: 30%;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  border: 5px solid #3742fa;
}

.overlay .modal.show {
  display: block;
}

.overlay .modal .close {
  position: absolute;
  right: 10px;
  top: 2px;
  padding: 5px;
  color: #000;
  text-decoration: none;
  border-radius: 50%;
  border: 5px solid #ff6b81;
  width: 25px;
  height: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.5em;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.overlay .modal .close:hover {
  background-color: #ff6b81;
  color: #fff;
}

.overlay .modal header {
  font-size: 1.5em;
  font-weight: bold;
  height: 50px;
  border-bottom: 1px solid grey;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 20px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.overlay .modal .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 200px;
}

.overlay .modal .content .new-game-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 40%;
  -ms-flex-pack: center;
      justify-content: center;
}

.overlay .modal .result-game {
  margin-top: 15px;
  font-size: 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.overlay .modal .result-game .result-name.win {
  color: #2ed573;
}

.overlay .modal .result-game .result-name.lose {
  color: #ff4757;
}

.overlay .modal .result-game table, .overlay .modal .result-game th, .overlay .modal .result-game td {
  border: 2px solid #ffa502;
}

.overlay .modal .result-game .result-table {
  font-size: 0.8em;
  margin: 0 15px;
}

.overlay .modal .result-game .result-table th, .overlay .modal .result-game .result-table td {
  padding: 2px 5px;
}

.overlay .modal .exit-game {
  padding: 10px 20px;
  margin: 15px 0;
  border: 5px solid #ff4757;
  outline: none;
  background-color: #fff;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 1em;
  cursor: pointer;
}

.overlay .modal .exit-game:hover {
  background-color: #ff4757;
  color: #fff;
}

.game-container {
  display: none;
  background-color: #ced6e0;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.game-container.show {
  display: -ms-flexbox;
  display: flex;
}

.game-container .player-info {
  border: 7px solid #ff4757;
  background-color: #70a1ff;
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 25px;
  border-radius: 5px;
}

.game-container .player-info .player-name {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.game-container .player-info .player-name::before {
  content: 'Nazwa Gracza: ';
  font-weight: normal;
  color: #000;
}

.game-container .player-info .game-scores {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.game-container .player-info .game-scores::before {
  content: 'Ilość kolejek: ';
  font-weight: normal;
  color: #000;
}

.game-container .options-container {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 50px;
}

.game-container .score {
  margin-top: 50px;
  border: 7px solid green;
  padding: 15px 0;
  border-radius: 3px;
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game-container .score .player-score {
  font-size: 2em;
  color: #ff6348;
  font-weight: bold;
}

.game-container .score .player-score::before {
  content: 'Gracz: ';
  color: #000;
  font-weight: normal;
}

.game-container .score .computer-score {
  font-size: 2em;
  color: #ff6348;
  font-weight: bold;
}

.game-container .score .computer-score::before {
  content: 'Komputer: ';
  color: #000;
  font-weight: normal;
}

.star8 {
  display: inline-block;
  margin: 2em;
  transform: rotate(22deg);
  transition: background linear .3s;
}

.star8::before {
  background-color: #fff;
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  transform: rotate(45deg);
}

.star8,
.star8::before,
a.fa {
  width: 80px;
  height: 80px;
}

.gold,
.gold::before {
  border: 6px solid #ffc107;
}

.orange,
.orange::before {
  border: 6px solid #fd7e33;
}

.blue,
.blue::before {
  border: 6px solid #3fb0ac;
}

a.fa {
  margin: 0;
  position: absolute;
  background-color: #fff;
  font-size: 60px;
  cursor: pointer;
}

a.fa::before {
  transform: rotate(-22deg);
  position: absolute;
  margin: 10px;
}

.gold:hover::before,
.gold:hover,
.gold:hover a.fa {
  background-color: #ffc107;
  color: #fff;
  transition: ease-in-out .3s;
}

.orange:hover::before,
.orange:hover,
.orange:hover a.fa {
  background-color: #fd7e33;
  color: #fff;
  transition: ease-in-out .3s;
}

.blue:hover::before,
.blue:hover,
.blue:hover a.fa {
  background-color: #3fb0ac;
  color: #fff;
  transition: ease-in-out .3s;
}

table, th, td {
  border: 5px solid #ffa502;
  border-collapse: collapse;
}

.score-table {
  font-size: 1.5em;
  margin: 50px 0;
}

.score-table th, .score-table td {
  padding: 10px 45px;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  font-family: 'ZCOOL KuaiLe', cursive;
}

body .main {
  width: 100%;
}

body .container {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */