@import "variables";                                     
@import "fonts";      
@import "buttons";                                            
@import "inputs";                                                  
    
/* Components*/ 
 
@import "components/jumbotron";
@import "components/modals";
@import "components/gameContainer"; 
@import "components/stars";                                                    
@import "components/table"; 

body {
    display: flex;   
    justify-content: center;
    margin: 0;    
    font-family: 'ZCOOL KuaiLe', cursive;

    .main {
        width: 100%;
    }

    .container {
        width: 100%; 
    }
}  

   