@import "variables";                                 
@import "fonts";      
@import "buttons";                                            
@import "inputs";                              
    
/* Components*/ 
 
@import "components/jumbotron";
@import "components/modals";
@import "components/gameContainer"; 
@import "components/stars";                              

body {
    display: flex; 
    justify-content: center;
    margin: 0;    

    .container {
        width: 100%; 
    }
}  

